html {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  background-color: #eee9de;
  line-height: 1.5;
  vertical-align: middle;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.giza {
  text-align: center;
}

img {
  display: block;
  width: 100%;
}

.img {
  max-width: 25em;
  margin-top: 1.5rem;
  padding: 1em;
  display: inline-block;
}

.content {
  display: inline-block;
  text-align: left;
  max-width: 25em;
  padding: 1em;
}

h2 {
  margin: 0;
}

p {
  padding: 1em 0;
}

.btn {
  display: inline-block;
  text-align: left;
  border: 3px solid #333;
  border-radius: 8px;
  padding: .4em .75em .5em;
}

a {
  text-decoration: none;
  color: #333;
  display: inline-block;
  padding: .4em .75em .5em;
}

a:hover {
  background-color: #666;
  color: #fff;
}
